<h1 class='title is-1'>New serving</h1>
<div class="subtitle"><%= link_to "Back to servings", servings_path %></div>
<div class="columns">
  <div class="column">
    <%= render "form", serving: @serving %>
  </div>
  <div class="column">
    <h3 class="is-3">Common portion size</h3>

    <table class="table">
      <tbody>
      <% @common_intakes.each do | intake | -%>
        <tr>
          <td><%= intake.description %></td>
          <td><%= intake.common_portion %></td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
